h2 {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.card-head h2 {
  font-size: 20px;
  margin-top: 10px;
}

.card {
    box-shadow: 1.5px 3px 3px 1.5px #566782;
    background: #ffffff;
    margin: 10px;
    width: 230px;
    height: 330px;
 
}

.card-clicked .card-head {
  background-color: #cb252d;
}

.card-clicked .compare-button{
  background-color: #cb252d;
}

.card-clicked .compare-button:hover{
  background-color: #ffffff;
  border: 1px solid #cb252d;
}

.button {
    display: flex;
    justify-content: center;
}

.compare-button {
  width: 70%;
  background: #26517e;
  color: #ffffff;
  height: 30px;
}

.compare-button:hover{
  color: #26517e;
  background: #ffffff;
  border: 1px solid #26517e;
}

ul.card-data {
    list-style-type: none;
}


.icon-span {
  width: 20px;
  display: inline-block;
  color: #139fdc;
}

.card-head {
    display: flex;
    justify-content: center;
    background: #26517e;
    color: white;
    font-size: 15px;
    text-align: center;
    height: 60px;
}