h2 {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.card-head {
  align-items: center;
  background: #26517e;
  color: white;
  display: flex;
  height: 75px;
  justify-content: center;
  text-align: center;
}
.card-head h2 {
  font-size: 20px;
  margin: 0 20px;
}

.card {
  background: #ffffff;
  box-shadow: 1.5px 3px 3px 1.5px #566782;
  margin: 10px;
  width: 230px;
}

.card-body {
  padding: 20px;
}

.card-clicked .card-head {
  background-color: #cb252d;
}

.card-clicked .compare-button{
  background-color: #cb252d;
}

.card-clicked .compare-button:hover{
  background-color: #ffffff;
  border: 1px solid #cb252d;
}

.button {
  display: flex;
  justify-content: center;
}

.compare-button {
  background: #26517e;
  color: #ffffff;
  font-size: 16px;
  height: 30px;
  width: 70%;
}

.compare-button:hover{
  background: #ffffff;
  border: 1px solid #26517e;
  color: #26517e;
}

ul.card-data {
  list-style-type: none;
  margin: 0 0 10px 35px;
  padding: 0;
}

.icon-span {
  color: #139fdc;
  display: inline-block;
  width: 20px;
}
