.comparison-card {
    box-shadow: 1.5px 3px 3px 1.5px #566782;
    background: #ffffff;
    margin: 10px;
    width: 230px;
    height: 330px;
    text-align: center;
 
}

.comparison-card-head {
    display: flex;
    justify-content: center;
    background: #26517e;
    color: white;
    font-size: 15px;
    text-align: center;
    height: 60px;
}


.comparison-card-head h2 {
  font-size: 20px;
  margin-top: 10px;
}

.big-number {
  font-size: 30px;
}