.comparison-card {
  box-shadow: 1.5px 3px 3px 1.5px #566782;
  background: #ffffff;
  margin: 10px;
  width: 230px;
  text-align: center;
 
}

.comparison-card-head {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #26517e;
  color: white;
  font-size: 15px;
  height: 75px;
}


.comparison-card-head h2 {
  font-size: 20px;
}

.big-number {
  font-size: 30px;
  color: #7d7a7a;
  margin: 0;
}

.comparison {
  margin-bottom: 16px;
}